.todo-list {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 2%;
}

.title {
  text-align: center;
  color: #D05454;
  margin: 10px;
  font-size: 50px;
  font-weight: bold;
}

.todo-list form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-list input {
  flex: 1;
  padding: 1%;
  border: 1px solid #D05454;
  border-radius: 4px;
  margin-right: 10px;
}

.todo-list button[type="submit"] {
  padding: 1% 20px;
  background: #D05454;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list button {
  margin-left: 10px;
  padding: 5px 10px;
  background: #D05454;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-container {
  height: 63em;
  overflow: scroll;
}

h3 {
  color: #D05454;
  text-align: center
}

@media screen and (max-width:768px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width:425px) {
  .title {
    font-size: 20px;
  }
}

@media screen and (max-width:320px) {
  .title {
    font-size: 17px;
  }
}