.todo-list {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 2%;
}

.todo-list form {
  display: flex;
}

.todo-list input {
  flex: 1;
  padding: 1%;
  border: 1px solid #D05454;
  border-radius: 4px;
  margin-right: 10px;
  font-size: larger;
}

.todo-list button {
  margin-left: 10px;
  padding: 5px 7px;
  background: #D05454;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-container {
  height: 63em;
  overflow: auto;
}

h3 {
  color: #D05454;
  text-align: center
}

@media screen and (max-width:375px) {
  .todo-list input {
    font-size: small;
  }
}