.todo-list {
  width: 500px;
  margin: 0 auto;
}

.todo-list h1 {
  text-align: center;
  color: #D05454;
}

.todo-list form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.todo-list input {
  flex: 1;
  padding: 10px;
  border: 1px solid #D05454;
  border-radius: 4px;
  margin-right: 10px;
}

.todo-list button[type="submit"] {
  padding: 10px 20px;
  background: #D05454;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.todo-list button {
  margin-left: 10px;
  padding: 5px 10px;
  background: #D05454;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h3 {
  color: #D05454;
  text-align: center
}